@layout({title: "Home"})

  <h1>
    Welcome to Crue
  </h1>

  @if(auth.user)
    <p>
      Hello, {{ auth.user.fullName }}! You are logged in.
    </p>

    <form method="POST" action="{{ route('auth.logout') }}">
      {{ csrfField() }}
      <button type="submit">Logout</button>
    </form>

  @else
    <p>
      You are not logged in. register or log in to access more features.
      <a href="{{ route('auth.register.show') }}">Register</a>
    </p>
  @endif

@end
